body {
	background: white;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	color: gray;
}

.intro {
	font-family: 'VT323', monospace;
	font-size: 25px;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	color: gray;
}

h2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: gray;
}


#game-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#start {
	border:20px groove lime;
	border-radius: 50px;
	height: 100px;
	width: 200px;
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	color: gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	}

.characters-box {
	height: 100px;
	width: 50%;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.characters-box div {
	height: 400px;
	width:255px;
	border:10px solid gray;
	border-radius: 20px;
	margin: 10px;
	font-family: 'VT323', monospace;
	font-size: 25px;
}

#girlB {
	background:url(https://i.imgur.com/DAf01TN.gif);
	background-size: cover;
	background-position: center;
}

#boyB {
	background: url("https://i.imgur.com/70OM2rc.gif");
	background-size: cover;
	background-position: center;
}
 .metrics-box {
 	font-family: 'VT323', monospace;
 	font-size: 30px;
 	height: 50px;
 	width: 60%;
 	display: none;
 	flex-direction: row;
 	justify-content: space-between;

 }

.players-box {
	height: 400px;
	width: 70%;
	display: none;
	flex-direction: row;
	justify-content: space-between;
}

#pl1 {
	background: white;
	display: none;
	flex-direction: row;
}

#pl2 {
	background: white;
	display: none;
	flex-direction: row;
}

.display {
	background: aqua;
	margin: 20px auto;
	font-size: 30px;
 	height: 50px;
 	width: 100%;
 	display: none;
 	flex-direction: column;
 	justify-content: center;
 	align-content: flex-start;
 	align-self: flex-end;
}

#arrows-display {
	font-family: 'VT323', monospace;
}

footer {
	margin: 20px;
	align-content: flex-end;
	justify-content: center;
}
